/* App.module.css */

.App {
  text-align: center;
  padding: 20px;
}

.app-title {
  font-size: 2rem;
  color: #000000;
  margin-top: 2rem;
}

.quiz-container {
  background-color: #00FFFF;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  width: 80%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.score {
  margin-top: 20px;
}

@media (max-width: 1024px) {
  .app-title {
    font-size: 1.5rem;
  }

  .quiz-container {
    width: 90%;
    padding: 15px;
  }

  .App {
    padding: 15px;
  }
}

@media (max-width: 768px) {
  .app-title {
    font-size: 1.2rem;
  }

  .quiz-container {
    width: 95%;
    padding: 10px;
  }

  .App {
    padding: 10px;
  }
}
